*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1{
    text-align: center;
    border: 1px black solid;
    
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  
  .column {
    flex: 1;
    padding: 10px;
  }
  
  img {
    width: 100%;
    height: auto;
  }


// The individual slides for the slideshow
// Landscape images for the slideshow
#slider{
    width:720px;
    height:400px;
    overflow:hidden;
    margin:auto;

    .slides{
        // Area for the slides horizontally(container)
        display:block;
        width:6000px;
        height:400px;
        margin:0;
        padding:0;
    }

    .slide{
        // Each slide
        float:left;
        list-style-type:none;
        width:720px;
        height:400px;
    }
}

// You will eventually replace these with img tags for the divs these represent
.slide1{
    background-color:red;
}

.slide2{
    background-color:blue;
}

.slide3{
    background-color:greenyellow;
}

.slide4{
    background-color:purple;
}

.slide5{
    background-color:pink;
}

